/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  max-width: 100%;
  margin: 0 auto;
  color: black;
}

/* Estilos de enlaces */
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  padding: 10px 15px;
}

/* Estilos del encabezado y pie de página */
header,
footer {
  box-sizing: border-box;
  flex: 0 1 auto;
  background-color: black;
  color: white;
}

header {
  width: 100%;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

header h1 {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header a {
  color: white;
  border: 2px solid white;
  border-radius: 5em;
  background: black;
}

header a:hover {
  color: black;
  border: 2px solid #CFBD6F;
  background: #CFBD6F;
  transition: all 0.3s ease-in-out;
}

/* Estilos para el contenido principal */
main {
  flex: 1 auto;
}

.Mensaje_bienvenida {
  margin-left: 10px;
  text-align: justify;
  font-size: 28px;
}

/* Estilo para la imagen de bienvenida */
.Mensaje_bienvenida img {
  width: 200px;
  transition: transform 0.3s;
}

/* Cambia el tamaño de la imagen al pasar el mouse sobre ella */
.Mensaje_bienvenida img:hover {
  transform: scale(1.7);
}

/* Sección de Productos */
#productos {
  text-align: center;
  background-color: #16384F;
  color: #4BC581;
}

/* Estilo para la imagen de productos */
#productos img {
  width: 200px;
  transition: transform 0.3s;
}

/* Cambia el tamaño de la imagen al pasar el mouse sobre ella */
#productos img:hover {
  transform: scale(1.1);
}

/* Sección de Cómo Funciona */
#como-funciona {
  text-align: center;
  padding: 20px;
  background-color: #3AD9B0;
  color: #2B4B5A;
}

#como-funciona ol {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#como-funciona li {
  flex: 1;
  text-align: center;
  margin: 10px;
  border: 2px solid #6F16F1;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#como-funciona li:hover {
  background-color: #6F16F1;
  color: #4DE7C1;
  transform: scale(1.20);
  cursor: pointer;
}

#como-funciona li {
  font-weight: lighter;
  font-size: 24px;
  padding: 20px;
  transition: transform 0.3s ease;
}

#como-funciona li:hover p {
  font-size: 60px;
}

/* Sección Acerca de Nosotros */
#acerca-de-nosotros {
  text-align: center;
  padding: 20px;
  background-color: #C70039;
  color: white;
}

#acerca-de-nosotros p {
  text-align: center;
  padding: 20px;
}

/* Estilos para el botón "Alquilar Ahora" */
.button-alquilar {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-alquilar:hover {
  background-color: #45a049;
}

.button-alquilar:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Consulta de medios para pantallas más pequeñas (máximo 640px) */
@media screen and (max-width: 640px) {
  header h1 {
    display: none;
  }
}

/* Estilos para el pie de página */
footer {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

footer ul {
  list-style: none;
  -webkit-padding-start: 0;
}

footer li {
  padding: 5px;
}

footer a {
  color: #CFBD6F;
}

footer a:hover {
  color: white;
}
