body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 30px; 
  line-height: 32px;
  max-width: 100%; 
  margin: 0 auto; 
  color: black; 
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  padding: 10px 15px;
}
header, footer {
  box-sizing: border-box;
  flex: 0 1 auto;
  background-color: black;
  color: white;
}
header{
  width: 100%;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
header h1 {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header a {
  color: white;
  border: 2px solid white;
  border-radius: 5em;
  background: black;
}
header a:hover {
  color: black;
  border: 2px solid #CFBD6F;
  background: #CFBD6F;
  transition: all 0.3s ease-in-out;
}
section {
  flex: 1 auto;
  width: 100%;
  height: 100%;
  padding: 4em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: url('../img/confetis.svg') no-repeat center center;
}
.gift_top{
	z-index: 3;
	margin-bottom: -50px;
}
.gift_bottom{
	z-index: 1;
	margin-top: -20px;
}
.Mensaje_bienvenida {
        margin-left: 10px; 
        text-align: justify;
        font-size: 28px; 
    }
footer{
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer > ul {
  list-style: none;
  -webkit-padding-start: 0;
}
footer li {
  padding: 5px;
}
footer a {
  color: #CFBD6F;
}
footer a:hover {
  color: white;
}

@media all and (max-width: 640px) {
    header h1 {
        display: none;
    }
}

.button-explora {
    background-color: #C34F79; 
    color: black; /* Color del texto del botón */
    padding: 15px 30px; /* Espaciado interno del botón (ajusta según sea necesario) */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    font-size: 24px; /* Tamaño de la fuente más grande */
    text-align: center; /* Alinea el texto en el centro del botón */
    text-decoration: none; /* Quita la subrayado por defecto en los enlaces */
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea */
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transición suave al cambio de color */
}

/* Cambia el color del botón al pasar el mouse sobre él */
.button-explora:hover {
    background-color: #45a049; /* Nuevo color de fondo verde al pasar el mouse */
}

/* Agrega un estilo de sombra al botón al hacer clic */
.button-explora:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al hacer clic en el botón */
}
    .Mensaje_bienvenida {
        text-align: center;
    }

    /* Estilo para la imagen */
    .Mensaje_bienvenida img {
        width: 200px; /* Ancho inicial de la imagen */
        transition: transform 0.3s; /* Transición suave para agrandar la imagen */
    }

    /* Cambia el tamaño de la imagen al pasar el mouse sobre ella */
    .Mensaje_bienvenida img:hover {
        transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
    }
#productos {
        text-align: center;
    }

    /* Estilo para la imagen */
    #productos img {
        width: 200px; /* Ancho inicial de la imagen */
        transition: transform 0.3s; /* Transición suave para agrandar la imagen */
    }

    /* Cambia el tamaño de la imagen al pasar el mouse sobre ella */
    #productos img:hover {
        transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
    }
        #como-funciona {
        text-align: center;
        padding: 20px;
    }

    /* Estilo para los pasos */
    #como-funciona ol {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    #como-funciona li {
        flex: 1;
        text-align: center;
        margin: 10px;
        border: 2px solid #6F16F1; /* Color del borde */
        padding: 15px;
        border-radius: 10px; /* Borde redondeado */
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    }

    /* Cambia el estilo al pasar el mouse sobre los pasos */
    #como-funciona li:hover {
        background-color: #6F16F1; /* Cambia el fondo al pasar el mouse */
        color: #4DE7C1; /* Cambia el color del texto al pasar el mouse */
        transform: scale(1.20); /* Aumenta el tamaño al pasar el mouse */
        cursor: pointer;
    }

    /* Estilo para el texto de los pasos */
#como-funciona li {
    font-weight: lighter; /* Utiliza una fuente más delgada */
    font-size: 24px; /* Aumenta el tamaño del texto */
    padding: 20px; /* Aumenta el espacio interno para aumentar el tamaño del li */
    transition: transform 0.3s ease; /* Agrega transición de escala suave */
}

#como-funciona li:hover p {
    font-size: 60px; /* Aumenta el tamaño del texto al pasar el mouse */
}
#acerca-de-nosotros p{
       text-align: center;
        padding: 20px;
}
/* Estilos para las secciones con fondos de colores */
section {
  flex: 1 auto;
  width: 100%;
  height: 100%;
  padding: 4em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Tamaño de letra más grande para las secciones */
}

#productos {
  background-color: #16384F; /* Fondo de color naranja */
    color: #4BC581; /* Color de letra blanco */
}

#como-funciona {
  background-color: #3AD9B0; /* Fondo de color amarillo */
  color:  #2B4B5A;
}

#acerca-de-nosotros {
  background-color: #C70039; /* Fondo de color rojo oscuro */
  color: white;
}
/* Estilo para el botón "Alquilar Ahora" */
.button-alquilar {
    background-color: #4CAF50; /* Color de fondo verde */
    color: #fff; /* Color del texto del botón */
    padding: 15px 30px; /* Espaciado interno del botón (ajusta según sea necesario) */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    font-size: 24px; /* Tamaño de la fuente más grande */
    text-align: center; /* Alinea el texto en el centro del botón */
    text-decoration: none; /* Quita la subrayado por defecto en los enlaces */
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea */
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega una transición suave al cambio de color */
}

/* Cambia el color del botón al pasar el mouse sobre él */
.button-alquilar:hover {
    background-color: #45a049; /* Nuevo color de fondo verde al pasar el mouse */
}

/* Agrega un estilo de sombra al botón al hacer clic */
.button-alquilar:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al hacer clic en el botón */
}
